{% extends 'base.html' %}
{% block content %}
                <div class="header">
                    <div class="header-title">
                        Product Management
                    </div>
                    <div class="header-buttons">
                        <div class="header-button-user">
                            button
                        </div>
                    </div>
                </div>
                <div class="main-content">
                    <div class="stat-card">
                        content
                    </div>
                </div>
            </div>
{% endblock %}